.breadcrumbs {
    padding: 22px 0;
}

.breadcrumbs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs ul li {
    margin-right: 5px;
    color: #9d9d9d;
    font-size: 14px;
}

.breadcrumbs ul li a {
    color: #e03131;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

article.content-list {
    margin-bottom: 20px;
}

.mainArticleImg {
    margin-bottom: 20px;
}

.mainArticleImg img {
    vertical-align: top;
    width: 100%;
}

.mainArticleMarks {
    max-width: 500px;
    margin-bottom: 20px;
}


article p {
    font-family:  Arial, Georgia, serif;
    line-height: 20px;
    color: #000;
    font-size: 16px;
}

article ul,
article ol {
    font-family:  Arial, Georgia, serif;
    padding-left: 30px;
    line-height: 20px;
    margin-bottom: 20px;
}


article ul {
    list-style-type: none;
}

article ul li::before {
    font-family: FontAwesome;
    font-weight: bold;
    content: "\f14a";
    color: #01a2ff;
    display: inline-block;
    width: 1.2em;
    margin-left: -1em;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

article ul span,
article ol span {
    color: #777777;
}


article ol {
    padding: 1px 1px 5px 16px;
}

article ol {
    counter-reset: point;
}

article ol li {
    list-style-type: none !important;
    position: relative;
    padding-left: 2.4em;
    list-style: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

article ol li {
    position: relative;
    margin: .7em 0;
}

article ol li:before {
    list-style-type: none !important;
    position: absolute;
    top: 1px;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0px;
    color: #fff;
    background: #01a2ff;
    font-weight: bold;
    text-align: center;
    border-radius: .9em;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

article ol li:before {
    color: white;
    position: absolute;
    left: 0;
    top: -1px;
    padding-top: 1px;
    content: counter(point) " ";
    counter-increment: point 1;
    text-align: center;
    font-weight: bold;
}

article ol li:after {
    position: absolute;
    top: 2.1em;
    left: 0.9em;
    width: 2px;
    height: calc(100% - 2em);
    content: '';
    background-color: rgb(203, 203, 203);
    z-index: 0;
}

article ol li:hover:before {
    background-color: #2ecc71;
}

article ul li:hover:before {
    color: #2ecc71;
}


















.mainArticleText .rBlock {
    font-family: 'Arial';
    color: #0171bb;
    border: 1px solid #0171bb;
    display: block;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 20px;
}

.mainArticleText blockquote {
    position: relative;
    font-family: 'Arial';
    color: #777777;
    font-size: 16px;
    line-height: 20px;
    background: #f3f3f4;
    padding: 35px 15px;
    margin-bottom: 20px;
}

.mainArticleText blockquote::before {
    content: '\f10d';
    font-weight: 900;
    color: #bdbdbd;
    font-family: Font Awesome\ 5 Free;
    position: absolute;
    left: 15px;
    top: 12px;
}

.mainArticleText blockquote::after {
    content: '\f10e';
    font-weight: 900;
    color: #bdbdbd;
    font-family: Font Awesome\ 5 Free;
    position: absolute;
    right: 15px;
    bottom: 12px;
}

.article-description {
    padding: 20px 20px 5px 20px;
    border: 1px solid #ffc1be;
    margin-bottom: 20px;
}

.article-description img {
    margin-right: 15px;
}

/*# sourceMappingURL=article.css.map */