.articlesPage {
  padding-top: 40px; }

.articlesList {
  width: 100%; }

.articleImg img {
  vertical-align: top;
  max-width: 100%;
  width: 100%; }

/*# sourceMappingURL=articles.css.map */