aside {
    padding-top: 40px;
}

.articlesPage aside {
    padding-top: 0 !important;
}

/** SIDEBAR **/
.asideBlockHeader {
    color: #df3131;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;

    font-family: BebasBold, Arial, Georgia, serif;
}


/*# sourceMappingURL=aside.css.map */