

.post-list-item-description {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    margin: 0 10px 0 10px;
    width: 95%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.67);
    padding: 10px 30px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.content-category-list-item {
    overflow: hidden;
    margin: 10px auto;
    display: block;
}

.content-category-list-item:hover .post-list-item-description {
    background-color: rgba(0, 0, 0, 0.9);
}

.img-thumbnail {
    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.content-category-list-item:hover .img-thumbnail {
    border:1px solid black;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.category-subcateries-block {
    margin: 20px 0 30px 0;
}

.category-subcategory-item {
    display: inline-block;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #eaeaea;
    padding: 3px 7px 4px 7px;
    font-size: 13px;

    color: #999;

    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.category-subcategory-item:hover {
    background-color: #dc3545;

    color: #ffffff;
}


.category-subcategory-item small {
    color: #333333;

    font-size: 11px;
}

.category-subcategory-item:hover {

}
/*# sourceMappingURL=categories.css.map */