.commentsWrap ul li {
    margin-bottom: 10px;
}

.commentBlockTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px;
    background: #f3f3f4;
    margin-bottom: 12px;
}

.commentBlockAvatar {
    margin-right: 15px;
}

.commentBlockAvatar img {
    max-width: 32px;
    width: 100%;
    height: auto;
}

.commentBlockName {
    font-family: 'Arial';
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
}

.commentBlockDate {
    font-family: 'Arial';
    font-size: 14px;
    color: #777777;
}

.commentBlockRating {
    font-family: 'Arial';
    margin-left: auto;
}

.commentBlockRating1,
.commentBlockRating1 a {
    color: #0171bb;
    text-decoration: none;
}

.commentBlockRating1 {
    padding-right: 7px;
}

.commentBlockRating2,
.commentBlockRating2 a {
    color: #e03131;
    text-decoration: none;
}

.commentBlockCenter p {
    color: #777777;
    font-family: 'Arial';
    margin-bottom: 5px;
}

.commentBlockBottom {
    text-align: right;
}

.commentBlockBottom a {
    text-decoration: underline;
    color: #0171bb;
    font-size: 14px;
    font-family: 'Arial';
}

.commentLev {
    padding-left: 15px;
    position: relative;
}

.commentLev2::after {
    content: '\f111';
    font-family: Font Awesome\ 5 Free;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 900;
    font-size: 4px;
    top: 18px;
    color: #c4c4c4;
}

.commentLev3::after {
    content: '\f111';
    font-family: Font Awesome\ 5 Free;
    position: absolute;
    top: 0;
    left: -15px;
    font-weight: 900;
    font-size: 4px;
    top: 18px;
    color: #c4c4c4;
}

.commentLev3::before {
    content: '\f111';
    font-family: Font Awesome\ 5 Free;
    position: absolute;
    top: 0;
    left: 0px;
    font-weight: 900;
    font-size: 4px;
    top: 18px;
    color: #c4c4c4;
}

/*# sourceMappingURL=comments.css.map */