a {
    color: #0171bb;

    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover {
    color: #383838;
    text-decoration: none;
}

.page-head {
    padding: 3px 0;
    overflow: hidden;
}


.page-head h1, .page-head h2, .page-head h3 {
    float: left;
    margin-right: 10px;
    font-family: BebasRegular, arial, Georgia, serif;
    color: #0171bb;
}


.page-head h1 {
    font-size: 32px;
    border-left: 3px red solid;

    padding-left: 8px;
}

.page-head h3 {
    color: #df3131;
}

.content-block {
    margin-bottom: 40px;
}



article h2 {
    font-family: BebasRegular, arial, Georgia, serif;
    font-size: 26px;
    color: #0171bb;
    border-bottom: 1px #99cbf3 solid;
    padding-left: 8px;
    margin: 30px 0 20px 0;
}

.page-head .stripe-line {
    margin-top: 7px;
}

.stripe-line {
    background: url(../images/hStripe.png);
    height: 12px;
    overflow: hidden;
    margin-top: 5px;
}


.mainContent {
    background: #fff;
    padding-bottom: 20px;
}

.articleBlock {
    margin-bottom: 40px;
}

.meta .social {
    margin: 0 0 20px 0;
    float:right;
}

.articleTitle {
    margin-bottom: 5px;
}

.articleContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.articleTitle a {
    color: #0171bb;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    line-height: 27px;
    max-height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.articleText p {
    margin: 0;
    line-height: 19px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.articleMarks {
    color: #9d9d9d;
    font-size: 14px;
}

.articleMarks a {
    text-decoration: underline;
    color: #e03131;
}

.articleTagsList {
    display: inline-block;
}

.articleReadBtn a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background: #0171bb;
    height: 25px;
    line-height: 25px;
    padding: 0 55px;
}

.articleReadBtn i {
    color: #1ea6ff;
}


.blockHeader {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #df3131;
    margin-bottom: 20px;

    font-family: BebasBold, Arial, Georgia, serif;
}

.section-image {
    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.section-image:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.card-deck .card {
    overflow: hidden;
}

/*# sourceMappingURL=content.css.map */