body {
    /* font-family: 'Oswald';*/
    font-style: normal;
}

p {
    text-indent: 20px;
}

.mainWrapper {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.05);
}

.text-meta .fa {
    /*color:black;*/
}

.meta-item {
    display:none;
}


.info-item {
    display: block;
    float:left;
    padding:0 10px 0 0;
}

.help-block {
    color: #ff0e0e;
}