footer {
    width: 100%;
}

.footerTop {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background: #f6f6f7;
    padding: 25px 0;
}

.footerLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footerHeader {
    color: #555555;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footerTextBlock p {
    margin: 0;
    font-size: 16px;
    color: #9d9d9d;
}

.footerUlBlock {
    padding: 0 0 20px 0;
}

.footerUlBlock ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
}

.footerUlBlock ul li a {
    color: #707070;
    text-decoration: none;
}

.footerSocBlockIn img {
    vertical-align: top;
    max-width: 40px;
    width: 100%;
    height: auto;
    margin-right: 5px;
}

.footerBottom {
    height: 50px;
    background: #2b2b2b;
    color: #9d9d9d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footerBottomInner {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footerBottomT1,
.footerBottomT2 {
    padding: 0 15px;
}

/*# sourceMappingURL=footer.css.map */