.headerBlock {
    background: #fff;
}

.headerInner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    margin-right: 50px;
}

.headerText {
    max-width: 300px;
    font-family: BebasBold, Arial, Georgia, serif;
}

.headerText p {
    margin: 0;
}

.headerText .headerText1 {
    color: #e03131;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 48px;
}

.headerText .headerText2 {
    font-family: Arial, Georgia, serif;
    color: #9d9d9d;
    font-size: 16px;
}

.headerLibra {
    padding: 0 4px;
}

.headerLibra img {
    vertical-align: top;
    max-width: 232px;
    width: 100%;
    height: auto;
}

.headerBtn {
    margin-right: 12px;
}

.headerBtn a {
    font-family: BebasBold, Arial, Georgia, serif;
    color: #df3131;
    font-size: 16px;
    border: 1px solid #df3131;
    display: block;
    padding: 7px 25px;
    text-decoration: none;
}

.headerBtn a span {
    padding-left: 5px;
}

.headerContacts {
    margin-left: auto;
}

.headerContacts a {
    font-size: 16px;
    text-decoration: none;
    color: #9d9d9d;
}

.headerContacts i {
    padding-right: 10px;
    color: #e03131;
}

.phPhoneN1,
.phPhoneN2 {
    font-weight: 600;
}

.phPhoneN2 {
    color: #e03131;
    font-size: 24px;
    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover .phPhoneN2 {
    color: #a60608;
}


.content-search-widget {
    padding-top: 6px;
}

.content-search-widget input {
    background-color: white;
}



/*# sourceMappingURL=header.css.map */