/*@import "mobile.css";
@import "header.css";
@import "menu.css";
@import "content.css";
@import "aside.css";
@import "articles.css";
@import "article.css";
@import "footer.css";
@import "comments.css";
@import "categories.css";
@import "../fonts/stylesheet.css";*/
/*@import "fontawesome-all.min.css";*/

body {
	font-family: 'Oswald';
	font-style: normal;
	background: #eeeeef;
}

.mainWrapper {
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.05);
}