@media only screen and (max-width: 1199px) {
    .headerLibra {
        display: none;
    }

    .headerBtn {
        margin: 0 15px 0 30px;
    }

    aside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .asideBlockCats,
    .asideBlockPopular,
    .asideBlockTags {
        max-width: 300px;
        padding: 0 15px;
    }

    .footerTop {
        text-align: center;
    }

    .footerTop .col-xl-3 {
        margin-bottom: 20px;
    }

    .articleImg,
    .articleTitle,
    .articleText,
    .articleMarks {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .headerInner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .logo {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 25px 0;
    }

    .asideBlockHeader i {
        display: none;
    }

    .mainMenu .navbar ul {
        display: block;
        height: 100%;
    }
    .mainMenu .navbar ul li a {
        text-align: left;
    }
}

@media only screen and (max-width: 767px) {
    .headerText {
        display: none;
    }

    .categoryList ul li {
        width: 100%;
    }

    .categoryBlock {
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 450px) {
    aside {
        display: none;
    }

    .footerBottomInner {
        display: block !important;
        text-align: center;
    }

    .footerBottomT1,
    .footerBottomT2 {
        padding: 0;
    }

    .headerBtn {
        display: none;
    }

    .headerContacts {
        margin: 0 auto;
    }

    .aM3,
    .aM4 {
        display: none;
    }

    .articleReadBtn a {
        display: block;
        padding: 10px;
        height: auto;
        text-align: center;
    }

    .footerBottom {
        height: auto !important;
        padding: 10px 0;
    }

    .commentBlockName {
        margin-right: 5px !important;
        font-size: 14px !important;
    }

    .commentBlockDate {
        font-size: 12px !important;
    }

    .commentBlockRating {
        display: none;
    }
}

/*# sourceMappingURL=mobile.css.map */