h1, h2 {
    color: #000000;
    border-bottom: 2px solid #ffd6d6;
    margin-bottom: 30px;
}

h3, h4, h5, h6  {
    color: #6f0000;
}

h1:before , h2:before{
    content: "\f46a";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    /* opacity: 0.2; */
    color: #fc0000;
    padding-right: 10px;
    font-size: 80%;
}

h2:before{
    opacity: 0.3;
}


h1, .h1 {
    font-size: 2.2rem;
}
h2, .h2 {
    font-size: 1.8rem;
}

h3 a, h4 a, h5 a, h6 a {
    color: #6f0000;
}




a {
    color: #1c1e1f;
    cursor: pointer;
    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover {
    color: #cf0000;
    text-decoration: none;
}

/** HEADER **/
header.header {
    background-image: url(/images/header.jpg);
    background-position: center top;
    background-color: #000;
    min-height: 200px;
}



.header-top {
    height: 140px;
}

header .navbar-dark {
    background-color:  rgba(0, 0, 0, 0.8);
}

.navbar {z-index: 1000;}


/** Content container **/
.content-wrapper {
    margin-top: 20px;
}

/** Article **/
article .meta {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 20px 0;
    background-color: #f0fff8;
}

article .meta .fa {
    color: #1d1d1d;
}


article .meta  .content-block {
    display: inline;
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

article .meta div.content-block:after {
    content: "-";
    padding: 0 8px;
    color: #888;
}

article .meta  div.content-block:last-child:after {
    content: "";
}

article .meta a{
    color: #888;
}
article .meta a:hover{
    color: #5e5e5e;
}

article a.content-link{
    color: #960400;
    text-decoration: underline;
    
    webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

article a.content-link:hover{
    color: #000582;
}

article.content-list {
    margin-top: 20px;
}

article.content-list:hover {
    background-color: #eefff1;
}

.post-list-item {
    position: relative;

    webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.post-list-item:hover {
    box-shadow: 0 0 0 10px rgba(0,0,0,0.4);
    opacity: 0.8;
}

.post-list-item h4 {
    font-family: "Open Sans";
    margin: 0;
    color: #fff;
}

.post-list-item-description {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 28px 20px;
    z-index: 100;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,1)));
    /* background: -webkit-linear-gradient(top,rgba(0,0,0,0)0,rgba(0,0,0,1) 100%); */
    /* background: linear-gradient(to bottom,rgba(0,0,0,0)0,rgba(0,0,0,1) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='rgba(0, 0, 0, 1)', GradientType=0);
}



/** SIDEBAR **/
.widget {
    margin-bottom: 50px;
}

.widget-title {
    font-size: 24px;
    font-weight: 700;
    border-bottom: 2px solid #ffd6d6;
    padding-bottom: 15px;
    margin-bottom: 25px;
}


/** Tags and categories **/
a.category  {
    padding: 2px 8px;
    color: #fff !important;
    background-color: #8e8e8e;
    border-radius: 2px;
    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.category:hover {
    background-color: #D13030;
    text-decoration: none;
}

a.tag {
    display: inline-block;
    margin: 4px;
    padding: 4px 12px;
    background-color: #D13030;
    color: #fff;
    border: 1px solid #f5f5f5;
    text-transform: uppercase;
    font-size: 11px;
    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.tag:hover {
    color: #fff;
    background-color: #aaa;
    text-decoration: none;
}


.content-category-list-item {
    margin:10px;
}

/** BASE **/
.text-upper {
    text-transform: uppercase;
}

/** BASE formated style **/
blockquote {
    border: dotted #666 1px;
    border-left:solid #ff5a00 5px;
    margin:10px 40px;
    padding:15px;
    color:#333;
    font-style:italic;
    font-size:14px;
    background:#fcfcfc;
}

ol {
    padding:0;
    list-style: none;
    counter-reset: li;
}
ol li {
    position: relative;
    padding: 3px 0 3px 22px;
    margin-left: 50px;
    transition-duration: 0.3s;

    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
ol li:before {
    border: 6px solid transparent;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: -20px;
    width: 28px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #77AEDB;
    counter-increment: li;
    content: counter(li);
    transition-duration: 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol li:hover:before {
    color: #337AB7;
}
ol li:after {
    position: absolute;
    top: 0;
    left: -20px;
    width: 28px;
    height: 28px;
    border: 3px solid #3399FF;
    border-radius: 50%;
    content: '';
    opacity: 0.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol li:hover:after {
    animation: 500ms ease-in-out 0s bounceIn;
    opacity: 1;
}

ol > li:hover {
    background-color: #f0f0f0;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        transform: scale3d(1.3, 1.3, 1.3);
    }
    40% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}


article ul{
    list-style: none;
}
article ul > li{
    padding-left: 20px;
    position: relative;
    margin: 10px 0;

    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
article ul > li:before{
    content: '✔';
    position: absolute;
    top: -10px;
    left: -10px;
    color: #07c53c;
    font-size: 2em;
}

article ul > li:hover:before {
    animation: 500ms ease-in-out 0s bounceIn;
    opacity: 1;
}

article ul > li:hover {
    background-color: #f0f0f0;
}


/** FOOTER **/
footer {
    padding:20px 20px 0px 20px;
}

footer.footer-black {
    background-color: black;
}

footer .nav-title {
    font-size: 18px;
    word-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px dashed #333;
    padding-bottom: 8px;
}

footer .footer-bottom {
    width: 100%;
    margin: auto;
    padding: 20px 0 0 0;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-top: 1px dashed #333;
}

footer ul {
    list-style: none;
    padding-top: 20px;
    padding-left: 20px;
}

footer a {
    color:#9e9e9e;
}



/** CUSTOM **/

.content-block {
    margin: 30px 0;
}
.content-title {
    font-weight: 700;
    border-bottom: 2px solid #ffd6d6;
    padding: 15px;
    margin-bottom: 25px;
    background-color: #fff6f6;
}

.text-meta .fa {
    color:black;
}

.meta-item {
    display:none;
}

.content-search-widget {
    padding-top:8px;
    padding-right:8px;
}