.table-success, .table-success > th, .table-success > td {
    background-color: #e5ffeb !important;
}
.table-success:nth-of-type(odd), .table-success:nth-of-type(odd) > th, .table-success:nth-of-type(odd) > td {
    background-color: rgb(212, 255, 213) !important;
}