@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Bold.woff2') format('woff2'),
        url('Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-SemiBold.woff2') format('woff2'),
        url('Oswald-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Light.woff2') format('woff2'),
        url('Oswald-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Regular.woff2') format('woff2'),
        url('Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Medium.woff2') format('woff2'),
        url('Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-ExtraLight.woff2') format('woff2'),
        url('Oswald-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-SemiBold';
    src: url('Oswald-SemiBold.eot');
    src: url('Oswald-SemiBold.woff2') format('woff2'),
    url('Oswald-SemiBold.woff') format('woff'),
    url('Oswald-SemiBold.ttf') format('truetype'),
    url('Oswald-SemiBold.svg#Oswald-SemiBold') format('svg'),
    url('Oswald-SemiBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('Oswald-Regular.eot');
    src: url('Oswald-Regular.woff2') format('woff2'),
    url('Oswald-Regular.woff') format('woff'),
    url('Oswald-Regular.ttf') format('truetype'),
    url('Oswald-Regular.svg#Oswald-Regular') format('svg'),
    url('Oswald-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url('Oswald-Bold.eot');
    src: url('Oswald-Bold.woff2') format('woff2'),
    url('Oswald-Bold.woff') format('woff'),
    url('Oswald-Bold.ttf') format('truetype'),
    url('Oswald-Bold.svg#Oswald-Bold') format('svg'),
    url('Oswald-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


/**Bebas**/
@font-face {
    font-family: "BebasRegular";
    src: url("../fonts/BebasRegular/BebasRegular.eot");
    src: url("../fonts/BebasRegular/BebasRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BebasRegular/BebasRegular.woff") format("woff"),
    url("../fonts/BebasRegular/BebasRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BebasBook";
    src: url("../fonts/BebasBook/BebasBook.eot");
    src: url("../fonts/BebasBook/BebasBook.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BebasBook/BebasBook.woff") format("woff"),
    url("../fonts/BebasBook/BebasBook.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BebasBold";
    src: url("../fonts/BebasBold/BebasBold.eot");
    src: url("../fonts/BebasBold/BebasBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BebasBold/BebasBold.woff") format("woff"),
    url("../fonts/BebasBold/BebasBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BebasLight";
    src: url("../fonts/BebasLight/BebasLight.eot");
    src: url("../fonts/BebasLight/BebasLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BebasLight/BebasLight.woff") format("woff"),
    url("../fonts/BebasLight/BebasLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BebasThin";
    src: url("../fonts/BebasThin/BebasThin.eot");
    src: url("../fonts/BebasThin/BebasThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BebasThin/BebasThin.woff") format("woff"),
    url("../fonts/BebasThin/BebasThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}